---
import Time from "./Time.astro";

interface Props {
  id: string;
  company: string;
  roles: Array<{
    position: string;
    period: {
      start: string;
      end?: string;
    };
  }>;
}

const { id, company, roles } = Astro.props;
---

<h3 id={id}>{company}</h3>
<p>
  {
    roles &&
      roles.map(({ position, period }) => (
        <>
          <span class="font-medium">{position}</span>,
          <span class="text-nowrap text-sm">
            <Time isoString={period.start} />
            to
            {period.end ? <Time isoString={period.end} /> : "Present"}
            <br />
          </span>
        </>
      ))
  }
</p>

<slot />
