---
import Time from "./Time.astro";

interface Props {
  id: string;
  title: string;
  period?: {
    start: string;
    end?: string;
  };
  github?: string;
}

const { id, title, period, github } = Astro.props;
---

<h3 id={id}>{title}</h3>

{
  period && (
    <p class="text-sm">
      <Time isoString={period.start} />
      to
      {period.end ? <Time isoString={period.end} /> : "Present"}
    </p>
  )
}

<slot />

{
  github && (
    <p class="break-all">
      <a href={`https://github.com/${github}`}>github.com/{github}</a>
    </p>
  )
}
